:root {
  --col-sol-green: #00ffa3;
  --col-sol-blue: #03e1ff;
  --col-sol-purple: #dc1fff;
  --col-sol-black: #101921;
}

.logo-solana {
  width: 120px;
  height: 120px;
}

#page-content {
  flex: 1 0 auto;
  padding-bottom: 70px;
}

html,
body {
  height: 100%;
}


.App {
  height: 100%;
  background-color: #472d37;
  overflow: scroll;
  text-align: center;
}
.footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.footer span {
  color: white;
  font-size: 20px;
  font-weight: bold;
  flex-direction: column;
}

.card {
  background: var(--col-sol-black);
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, #560ae4, #0b21e4) 1;
}

.card-header {
  color: white;
  font-weight: bold;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-body,
.card-text {
  color: white;
}

.btn-primary {
  background: -webkit-linear-gradient(
    left,
    var(--col-sol-green),
    var(--col-sol-blue)
  );
  border: 0;
  background-size: 200% 200%;
  height: 44px;
  animation: gradient-animation 4s ease infinite;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}

.btn-secondary {
  background: -webkit-linear-gradient(left, #3646d4, #038eff);
  border: 0;
  background-size: 200% 200%;
  height: 44px;
  animation: gradient-animation 4s ease infinite;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}

.btn-money {
  background: -webkit-linear-gradient(left, #5cca30, #11f111);
  border: 0;
  width: 100%;
  background-size: 100% 100%;
  height: 32px;
  animation: gradient-animation 4s ease infinite;
  font-weight: bold;
  font-size: 12px;
  color: gray;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
}







.twitter-logo {
  width: 35px;
  height: 35px;
}

.footer-text {
  color: white;
  font-size: 16px;
  font-weight: bold;
}



.address {
  color: #ffffff;
}